<div class="container">
  <form [formGroup]="registerForm">
    <div class="form-group">
        <label for="exampleInputUsername">Username</label>
        <input type="username" name="username" 
               class="form-control" 
               id="exampleInputUsername"
               placeholder="Enter your username..."
               formControlName="username"
               required minlength="3" required maxlength="15">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" 
             id="exampleInputEmail1" 
             placeholder="Enter your email..."
             formControlName="email"
             required minlength="3" required maxlength="25">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" 
             id="exampleInputPassword1"
             placeholder="Enter your password..."
             formControlName="password"
             required minlength="3" required maxlength="10">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Male</label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Female</label>
      </div>
    <button type="button" class="btn btn-primary" (click)="onRegisterClicked()">Register</button>
  </form>
</div>