<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/twitter.png" width="30" height="30" class="d-inline-block align-top" alt="twitter" loading="lazy">
      Welcome To Twitter
    </a>
  </nav>