<div class="container">
    <h1 class="header">Log in to your Twitter account</h1>
    <form [formGroup]="loginForm">
        <div class="form-group">
            <label for="exampleInputUsername">Username</label>
            <input type="username" name="username" class="form-control" 
                   id="exampleInputUsername"
                   placeholder="Enter your username..." 
                   formControlName="username"
                   required minlength="3" required maxlength="25">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" 
                 id="exampleInputPassword1"
                 placeholder="Enter your password..." 
                 formControlName="password"
                 required minlength="3" required maxlength="25">
        </div>
    
        <button type="button" class="btn btn-primary" (click)="onLoginClicked()">Login</button>
    </form>
</div>